
services:
  # MySQL Database Service
  mysql:
    image: mysql:8.0
    container_name: quiz-app-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: quiz_db
      MYSQL_USER: quizuser
      MYSQL_PASSWORD: quizpassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - quiz-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s

  # Spring Boot Backend Service
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quiz-app-backend
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/quiz_db
      SPRING_DATASOURCE_USERNAME: quizuser
      SPRING_DATASOURCE_PASSWORD: quizpassword
      JWT_SECRET: c1094ad6ef126269ea41015bb836c82ff886080572ec2ddc47dea2c9ffb02c37
    ports:
      - "8082:8080"
    depends_on:
      mysql:
        condition: service_healthy
      ollama:
        condition: service_healthy
    networks:
      - quiz-network
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    build:
      context: .
      dockerfile: ollama.DockerFile
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:11434/api/tags" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s


networks:
  quiz-network:
    driver: bridge

volumes:
  mysql_data:
    driver: local
  ollama_data:
    driver: local
