@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  color: rgb(166, 252, 247);
  font-style: normal;
  font-size: 50px;
}


.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

